 
 body {
     background-color: lavender;
 }
 
 
 canvas {
            position: absolute;
            top: 38%;
            left: 38%;
            width: 870px;
            height: 1120px;
            margin: -320px 0 0 -320px;
        }

        
          