 
 body {
     background-color: lavender;
 }
 
 
     
 
 canvas {
            position: absolute;
            top: 38%;
            left: 58%;
            width: 470px;
            height: 720px;
            margin: -320px 0 0 -320px;
        }

        
          