body {
    font-family: "Century Gothic";
    color: white;
    background-color:  black;
    size: auto
  }
  
  main, header {
    max-width: 60%;
    margin: 0 auto;
  }
  

  ul, h1, h2
  {
    margin-left: 20%;
  }

  canvas {
    background: linear-gradient(black, rgb(9,0,66));
    border-radius: 20px;
    border: 10px solid red;
    background-color: blue; 
    width: 100%;
    height: auto;
  }